@{
    ViewData["Title"] = "Home Page";
}

<div class="">
    <h2 class="display-4">Fusariose</h2>
    <div class="d-flex justify-content-center">
        <div style="width: 80%; margin: 20px">
            <canvas id="myChart"></canvas>
            <p style="color: #b1b1b1">*Os casos com temperatura abaixo da linha vermelha correm o risco de estarem com a doença</p>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js" integrity="sha512-Wt1bJGtlnMtGP0dqNFH1xlkLBNpEodaiQ8ZN5JLA5wpc1sUlk/O5uuOMNgvzddzkpvZ9GLyYNa8w2s7rqiTk5Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
            datasets: [
                {
                    label: 'TEMPERATURA RISCO',
                    data: [22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22],
                    backgroundColor: ['#d10000'],
                    borderColor: ['#d10000'],
                    borderWidth: 1
                },
                {
                    label: 'Graus Celsius',
                    data: [30, 24, 22, 31, 20, 25, 27, 23, 20, 17, 30, 31],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }
            ]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>
