@{
    ViewData["Title"] = "Home Page";
}

@{
    Layout = "~/Views/Shared/_Loader.cshtml";
}

<link href="~/css/Loader.css" rel="stylesheet" />
<div class="loader">
    <div class="inner one"></div>
    <div class="inner two"></div>
    <div class="inner three"></div>
</div>
