@{
    ViewData["Title"] = "Dados";
}

@model List<DataModel>

<div class="container justify-content-center">
    <br />
    <button id="btnupdate" class="btn btn-primary" onclick="analyzeData()">Realizar análise de dados </button> <span hidden id="message">Análise em andamento! Já é seguro fechar a página</span>
    <br />
    <br />
    <br />
    <table class="table table-striped">
        <thead>
            <tr>Momentos com risco da praga</tr>
            <tr>
                <th scope="col">Data</th>
                <th scope="col">Chuva</th>
                <th scope="col">Umidade</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count > 0)
            {
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Date.ToString("dd/MM/yyyy")</td>
                        <td>@item.Rain</td>
                        <td>@item.Humidity</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<script>
    $(document).ready(function () {
        $('#err').hide()
    })

    function analyzeData() {
        $("#btnupdate").attr("disabled", "disabled");
        $('#message').removeAttr('hidden');

        const url = "http://localhost:64339/api/data/analyze";

        $.get(url)
    }
</script>